<%= link_to drive_path(folder_id: folder.id), class: 'text-dark text-decoration-none', id: dom_id(folder) do %>
  <%= image_tag 'icons/folder-mac-icon.ico', width: 40 %>
  <span><%= folder.name %></span>

  <br>
<% end %>
