<table id="userListing" class="table">
  <% if users&.exists? %>
    <thead>
      <tr class="row">
        <th scope="col" class="col-xl-3">Name</th>
        <th scope="col" class="col-xl-3">Email</th>
        <th scope="col" class="col-xl-3">Seniority</th>
        <th scope="col" class="col-xl-3">City</th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
        <tr class="row">
          <td class="col-xl-3"><%= user.name %></td>
          <td class="col-xl-3"><%= user.email %></td>
          <td class="col-xl-3"><%= user.seniority %></td>
          <td class="col-xl-3"><%= City.find(user.city_id).name %></td>
        </tr>
      <% end %>


    </tbody>
  <% else %>
    <tr class="text-center">
      <td class="col-xl-12 p-5"><em class="fs-6">Hmm.., it's empty 🤔</em></td>
    </tr>
  <% end %>
</table>
