<div id="userListing">
  <% if users&.exists? %>
    <div class="row users-header py-2">
      <div class="col-xl-3">
        <span>Name</span>
      </div>
      <div class="col-xl-3">
        <span>Email</span>
      </div>
      <div class="col-xl-3">
        <span>Seniority</span>
      </div>
      <div class="col-xl-3">
        <span>City</span>
      </div>
      <hr class="mt-1 mb-0">
    </div>
    <% users.each do |user| %>
      <div class="row my-1 users-details">
        <span class="col-xl-3"><%= user.name %></span>
        <span class="col-xl-3"><%= user.email %></span>
        <span class="col-xl-3"><%= user.seniority %></span>
        <span class="col-xl-3"><%= City.find(user.city_id).name %></span>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
      <div class="col-xl-12 p-5"><span class="fs-6">Hmm.., it's empty 🤔</span></div>
    </div>
  <% end %>
</div>
