<div class="filter">
  <h6>Seniority name</h6>
  <div data-controller='toggle-menu'>
    <% seniorities.each do |key, filter| %>
      <div class="form-check seniority_filter_items" data-toggle-menu-target='item'>
        <input class="form-check-input" type="checkbox" value="<%= key %>"
                                    id="flexCheckIndeterminate-<%= key %>">
        <label class="form-check-label">
          <%= key + " (#{filter[:size]})" %>
        </label>
      </div>
    <% end %>
    <button type="button" name="button"
            data-action='toggle-menu#showLess'
            data-toggle-menu-target='lessControl'
            class='toggle-menu-button'>Show less ↑</button>
    <button type="button" name="button"
            data-action='toggle-menu#showMore'
            data-toggle-menu-target='moreControl'
            class='toggle-menu-button'>Show more ↓</button>
  </div>
</div>
