<%= turbo_frame_tag 'modal' do %>
  <%= render 'users/modal', user: @user,
                            title: 'Update user',
                            disabled_status: false,
                            action: params[:action] %>
  <div class="modal-backdrop fade show"></div>
<% end %>
