<button type="button" name="button"
        data-action='toggle-menu#showLess'
        data-toggle-menu-target='lessControl'
        class='toggle-menu-button'><%= t '.show_less_button' %> ↑</button>
<button type="button" name="button"
        data-action='toggle-menu#showMore'
        data-toggle-menu-target='moreControl'
        class='toggle-menu-button'><%= t '.show_more_button' %> ↓</button>
