.filter {
  margin-bottom: 15px;

  h6 {
    margin: 2px;
  }

  .form-check {
    margin: 0 10px;

    .form-check-label {
      font-size: 13px;
    }
  }

  .toggle-menu-button {
    border: none;
    color: cornflowerblue;
  }
}

.users-header {
  font-weight: bold;
}

.users-details {
  font-size: 14px;
}

#new-user-link {
  width: 165px;
}

#export-xlsx-link {
  width: 165px;
  left: 12%;
}

#export-xml-link {
   width: 165px;
   left: 24%;
 }

.error-message {
  font-size: 10px;
  position: absolute;
  bottom: 9%;
  margin: 0;
  right: 7%;
  color: red;
}
