<table>
  <thead>
    <tr>
      <th>City name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% cities.each do |key, filter| %>
      <tr>
        <% city = City.find(key) %>
        <td><%= city.name + " (#{filter[:size]})" %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete,
                                         data: {
                                           confirm: 'Are you sure?'
                                         } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
